---
layout: default
---

<style type="text/css">
  nav {
    background-color: #673ab7;
    box-shadow: none;
    color: #fff; }
  nav a { color: #fff; }
  nav ul a { color: #fff; }
  nav .brand-logo { color: #fff; }
</style>

{% capture url %}{{ site.url | append: "$" | replace: "/$", "" | replace: "$", "" }}{% endcapture %}

<div class="section no-pad deep-purple">
  <div class="valign-wrapper" style="height: 380px;">
    <div class="container">
      <h1 class="row center white-text logo-font">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="col s12 white-text logo-font">{{ site.description }}</h5>
      </div>
      <div class="row center">
        <a class="btn-flat btn-large waves-effect waves-light deep-purple logo-font white-text" href="{{ url }}/about/" style="border: 1px #fff solid; margin-right: 4px;">About</a>
        <a class="btn-flat btn-large waves-effect waves-light deep-purple logo-font white-text" href="{{ url }}/blog/" style="border: 1px #fff solid; margin-left: 4px;">Blog</a>
        <div style="margin-top: 32px;">
          <a href="#latest-images"><i class="material-icons white-text" style="font-size: 36px;">keyboard_arrow_down</i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4 class="deep-purple-text" id="latest-images">Latest Images</h4>
      </div>
      {% for post in site.posts %}
        {% if post.image.path %}
        <div class="col s12 m6">
          <article>
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" data-caption="© {{ post.image.copyright }}" src="{{ post.image.path }}">
                <span class="card-title" style="background-color: rgba(0,0,0,.3); cursor: pointer; padding: 8px 24px; width: 100%;" onclick="window.location='{{ url }}{{ post.url }}'">
                  {{ post.title }}<time datetime="{{ post.date }}" style="font-size: 16px;"> | {{ post.date | date_to_string }}</time>
                </span>
              </div>
            </div>
          </article>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
