---
layout: default
---

{% if paginator.page == 1 %}
<div class="section no-pad">
<div class="valign-wrapper" style="height: 380px;">
  <div class="container">
    <h1 class="row center cyan-text logo-font">{{ site.title }}</h1>
    <div class="row center">
      <h5 class="col s12 cyan-text logo-font">{{ site.description }}</h5>
    </div>
    <div class="row center">
      <a class="btn-large waves-effect waves-light cyan logo-font white-text" href="{{ site.url }}/about/">About</a>
    </div>
  </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
      {% for post in paginator.posts %}
        {% include post_card.html %}
      {% endfor %}
      </div>
      <div class="col s12">
        {% include paginate.html %}
      </div>
    </div>
  </div>
</div>

{% if site.author.disqus %}
<script id="dsq-count-scr" src="//{{ site.author.disqus }}.disqus.com/count.js" async></script>
{% endif %}
