<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/prism.min.js"></script>
<script type="text/javascript">
  var now = new Date('{{ site.time }}').getTime();
  $(document).ready(function () {
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    $('.dropdown-button').dropdown();
    $('.materialboxed').materialbox();
    $('.parallax').parallax();
    $('time').each(function () {
      if (now - (new Date($(this).attr('datetime')).getTime()) < 311040000){
        $(this).append('<span class="new badge"></span>');
      }
    });
    var url = window.location.href;
    if (url.search('/blog') >= 0 || url.search('/archive') >= 0 || url.search('/categories') >= 0 || url.search('/tags') >= 0 || url.search('/2017/') >= 0) {
      $('#nav-blog').collapsible('open', 0);
    }
  });
</script>
{% if site.author.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','{{ site.author.google_analytics }}','auto');ga('send','pageview');
</script>
{% endif %}
