{% if page.title %}
{% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
{% capture title %}{{ site.title }}{% endcapture %}
{% endif %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
<meta name="author" content="{{ title }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#673ab7">
<meta name="google" content="notranslate">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ url }}/assets/img/logo.png">
<meta property="og:type" content="blog">
<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ url }}/assets/img/logo.png">
<title>{{ title }}</title>
<link rel="canonical" href="{{ url }}{{ page.url }}">
<link type="application/xml" rel="sitemap" href="{{ url }}/sitemap.xml" title="{{ title }}"/>
{% feed_meta %}
