<article>
  <div class="card">
    {% if post.image.path %}
    <div class="card-image">
      <img class="materialboxed" data-caption="© {{ post.image.copyright }}" src="{{ post.image.path }}">
      <span class="card-title" style="background-color: rgba(0,0,0,.3); width: 100%;">
        {{ post.title }}
      </span>
    </div>
    {% endif %}
    <div class="card-content" style="cursor: pointer;" onclick="window.location='{{ url }}{{ post.url }}'">
      {% unless post.image.path %}
      <span class="card-title">{{ post.title }}</span>
      {% endunless %}
      <p style="font-weight: 600; margin-bottom: 10px;"><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></p>
      <div id="post-content">
        {{ post.content | strip_html | truncate: 100, "…" }}
      </div>
      {% if site.author.disqus %}
      <div class="valign-wrapper" style="margin-top: 16px;">
        <i class="material-icons" style="color: #9e9e9e;">comment</i>&nbsp;
        <span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}" data-disqus-url="{{ url }}{{ post.url }}">Comment</span>
      </div>
      {% endif %}
    </div>
  </div>
</article>
