/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

#post-content {
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  color: #222; }
#post-content .container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
#post-content .column,
#post-content .columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }
@media (min-width: 400px) {
  #post-content .container {
    width: 85%;
    padding: 0; } }
@media (min-width: 550px) {
  #post-content .container {
    width: 80%; }
  #post-content .column,
  #post-content .columns {
    margin-left: 4%; }
  #post-content .column:first-child,
  #post-content .columns:first-child {
    margin-left: 0; }
  #post-content .one.column,
  #post-content .one.columns {
    width: 4.66666666667%; }
  #post-content .two.columns {
    width: 13.3333333333%; }
  #post-content .three.columns {
    width: 22%; }
  #post-content .four.columns {
    width: 30.6666666667%; }
  #post-content .five.columns {
    width: 39.3333333333%; }
  #post-content .six.columns {
    width: 48%; }
  #post-content .seven.columns {
    width: 56.6666666667%; }
  #post-content .eight.columns {
    width: 65.3333333333%; }
  #post-content .nine.columns {
    width: 74.0%; }
  #post-content .ten.columns {
    width: 82.6666666667%; }
  #post-content .eleven.columns {
    width: 91.3333333333%; }
  #post-content .twelve.columns {
    width: 100%;
    margin-left: 0; }
  #post-content .one-third.column {
    width: 30.6666666667%; }
  #post-content .two-thirds.column {
    width: 65.3333333333%; }
  #post-content .one-half.column {
    width: 48%; }
  #post-content .offset-by-one.column,
  #post-content .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  #post-content .offset-by-two.column,
  #post-content .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  #post-content .offset-by-three.column,
  #post-content .offset-by-three.columns {
    margin-left: 26%; }
  #post-content .offset-by-four.column,
  #post-content .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  #post-content .offset-by-five.column,
  #post-content .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  #post-content .offset-by-six.column,
  #post-content .offset-by-six.columns {
    margin-left: 52%; }
  #post-content .offset-by-seven.column,
  #post-content .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  #post-content .offset-by-eight.column,
  #post-content .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  #post-content .offset-by-nine.column,
  #post-content .offset-by-nine.columns {
    margin-left: 78.0%; }
  #post-content .offset-by-ten.column,
  #post-content .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  #post-content .offset-by-eleven.column,
  #post-content .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  #post-content .offset-by-one-third.column,
  #post-content .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  #post-content .offset-by-two-thirds.column,
  #post-content .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  #post-content .offset-by-one-half.column,
  #post-content .offset-by-one-half.columns {
    margin-left: 52%; }
}
#post-content h1, #post-content h2, #post-content h3, #post-content h4, #post-content h5, #post-content h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
#post-content h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }
#post-content h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }
#post-content h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }
#post-content h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }
#post-content h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }
#post-content h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }
@media (min-width: 550px) {
  #post-content h1 {
    font-size: 5.0rem; }
  #post-content h2 {
    font-size: 4.2rem; }
  #post-content h3 {
    font-size: 3.6rem; }
  #post-content h4 {
    font-size: 3.0rem; }
  #post-content h5 {
    font-size: 2.4rem; }
  #post-content h6 {
    font-size: 1.5rem; } }
#post-content p {
  margin-top: 0; }
#post-content strong {
  font-weight: 700; }
#post-content a {
  color: #1EAEDB; }
#post-content a:hover {
  color: #0FA0CE; }
#post-content .button,
#post-content button,
#post-content input[type="submit"],
#post-content input[type="reset"],
#post-content input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
#post-content .button:hover,
#post-content button:hover,
#post-content input[type="submit"]:hover,
#post-content input[type="reset"]:hover,
#post-content input[type="button"]:hover,
#post-content .button:focus,
#post-content button:focus,
#post-content input[type="submit"]:focus,
#post-content input[type="reset"]:focus,
#post-content input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
#post-content .button.button-primary,
#post-content button.button-primary,
#post-content input[type="submit"].button-primary,
#post-content input[type="reset"].button-primary,
#post-content input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
#post-content .button.button-primary:hover,
#post-content button.button-primary:hover,
#post-content input[type="submit"].button-primary:hover,
#post-content input[type="reset"].button-primary:hover,
#post-content input[type="button"].button-primary:hover,
#post-content .button.button-primary:focus,
#post-content button.button-primary:focus,
#post-content input[type="submit"].button-primary:focus,
#post-content input[type="reset"].button-primary:focus,
#post-content input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
#post-content input[type="email"],
#post-content input[type="number"],
#post-content input[type="search"],
#post-content input[type="text"],
#post-content input[type="tel"],
#post-content input[type="url"],
#post-content input[type="password"],
#post-content textarea,
#post-content select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
#post-content input[type="email"],
#post-content input[type="number"],
#post-content input[type="search"],
#post-content input[type="text"],
#post-content input[type="tel"],
#post-content input[type="url"],
#post-content input[type="password"],
#post-content textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
#post-content textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
#post-content input[type="email"]:focus,
#post-content input[type="number"]:focus,
#post-content input[type="search"]:focus,
#post-content input[type="text"]:focus,
#post-content input[type="tel"]:focus,
#post-content input[type="url"]:focus,
#post-content input[type="password"]:focus,
#post-content textarea:focus,
#post-content select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
#post-content label,
#post-content legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
#post-content fieldset {
  padding: 0;
  border-width: 0; }
#post-content input[type="checkbox"],
#post-content input[type="radio"] {
  display: inline; }
#post-content label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
#post-content ul {
  list-style: circle inside; }
#post-content ol {
  list-style: decimal inside; }
#post-content ol, #post-content ul {
  padding-left: 0;
  margin-top: 0; }
#post-content ul ul,
#post-content ul ol,
#post-content ol ol,
#post-content ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
#post-content li {
  margin-bottom: 1rem; }
#post-content code {
  padding: .2rem .5rem;
  font-family: 'Fira Mono', Consolas, monospace;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border-radius: 4px; }
#post-content pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }
#post-content th,
#post-content td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
#post-content th:first-child,
#post-content td:first-child {
  padding-left: 0; }
#post-content th:last-child,
#post-content td:last-child {
  padding-right: 0; }
#post-content button,
#post-content .button {
  margin-bottom: 1rem; }
#post-content input,
#post-content textarea,
#post-content select,
#post-content fieldset {
  margin-bottom: 1.5rem; }
#post-content pre,
#post-content blockquote,
#post-content dl,
#post-content figure,
#post-content table,
#post-content p,
#post-content ul,
#post-content ol,
#post-content form {
  margin-bottom: 2.5rem; }
#post-content .u-full-width {
  width: 100%;
  box-sizing: border-box; }
#post-content .u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
#post-content .u-pull-right {
  float: right; }
#post-content .u-pull-left {
  float: left; }
#post-content hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }
#post-content .container:after,
#post-content .row:after,
#post-content .u-cf {
  content: "";
  display: table;
  clear: both; }
